# location of FLM file and vocab file for prior model
#priorModel=ht-prior.flm
#priorModelVocab=vocab.st

# maxent model (trained using ZL's toolkit) for hypertagging
maxentModel=ht.mod

# beam width for beta-best search through the tags returned by the maxent model
betas =  0.075 0.03 0.01 0.003 0.001 0.0003 0.0001 0.00001

# if using tagging dictionaries (instead of prior models) specify the dictionary threshold
# ("K" value from Clark 2002)
dictk=10

# specify tagging dictionaries. these are only used if prior models are NOT specified!
#wDict=word.dict.min10
#posDict=pos.dict.min10

# filename for configuration of POS tagger
posConfig=pos.config

# arg names and short names
argnames = Arg0:A0 Arg1:A1 Arg1a:A1a Arg1b:A1b Arg2:A2 Arg2a:A2a Arg2b:A2b Arg3:A3 Arg4:A4 Arg5:A5 
