# config file for generating events during realizer training
#
# a single beta level (not the most strict one) is used, rather 
# than adaptive backoff (todo: try reverse adaptation)

# maxent model (trained using ZL's toolkit) for hypertagging
maxentModel=ht.mod
# second-pass model
maxentModel2=ht2.mod

# beam width for beta-best search through the tags returned by the maxent model
# these will be applied to both hypertagging models
betas =  0.001

# filename for configuration of POS tagger
posConfig=pos.config
