*.sw?
*~
*.jar
*.so
*.class
*.pyc
*.tgz
*.gz
*.lm
*.3bo
*.mod
vocab.*
!vocab.flm
.project
.classpath
bin/ccg2xml.py
bin/lex.py
bin/yacc.py
bin/ccg_editor.py
bin/Tree.py
ccgbank/convert/
ccgbank/data/novel/two-sents.dir/
ccgbank/extract/*
!ccgbank/extract/grammar.xml
!ccgbank/extract/*.xsl
ccgbank/feats/hypertagger/
ccgbank/feats/parser/
ccgbank/feats/realizer/
ccgbank/feats/supertagger/
ccgbank/logs/
ccgbank/models/*/*dict*
ccgbank/models/realizer/excl/
ccgbank/original/corpus/
ccgbank/original/feats/postagger/
ccgbank/original/feats/supertagger/
ccgbank/original/logs/
ccgbank/propccgbank/
ccgbank/stanford-nlp/*.jar
ccgbank/stanford-nlp/classifiers/*.prop
docs/api/
docs/grammars-rough-guide.pdf
docs/realizer-manual.pdf
docs/guide/guide.*
!docs/guide/guide.tex
docs/realizer/manual.*
!docs/realizer/manual.tex
lib/openccg.jar
output/
src/ccg2xml/ccg2xml.py
src/srilmbridge/*.h
*.iml
.idea/
target/
