# an example POS tagger config file (D.N. Mehay)
# change to suit your needs (e.g., replace the following paths
# with paths that point to the relevant files).

# "basic" = Ratnaparkhi-style features, inter alia
# there is nothing else in OpenCCG, at the moment.
taggerType=basic

# this model gives priors on POS tags.
priorModel=posprior.flm
priorModelVocab=vocab.pos

# this is a Zhang Le-style MEM.
maxentModel=pos.mod

# this last must be an ARPA-formatted n-gram model over POS tags (with <s> and </s>)
# (7- to 9-grams work well, without much memory usage).
sequenceModel=pos.lm

# tagging beam width (beta=1 means "single-best", i.e., unitagging)
beta=0.044
#beta=0.1
#beta=1.0

# tagging algorithm.  (choose from 'forward' and 'forward-backward')
# the former is faster, the latter is better.
taggingAlgorithm=forward-backward

# self-explanatory (will potentially print certain errors and warnings, if set to 'true')
verbose=true